<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-raised-button color="primary" class="mat-elevation-z6">
      <mat-icon>settings</mat-icon>
      Snips configuration
    </a>
    <span style="width:15px"></span>
    <a mat-button>General</a>
    <a mat-button>Features</a>
    <a mat-button>Stats</a>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container">    

  <mat-card>
    <mat-card-title>
      General settings
      <span style="float:right;">
        <span class="status">
          Status : <mat-icon>thumb_up</mat-icon>
        </span>
        <a mat-button matTooltip="This will restart the device" matTooltipPosition="below" color="warn">
          <mat-icon>power_settings_new</mat-icon>
          Restart
        </a>
      </span>
    </mat-card-title>
    <mat-card-subtitle>
      General overall settings of the device
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <br />
    <mat-card-content>
      Here you can find all the general settings of the device.
      <form class="settings-form">
        <mat-form-field>
          <input matInput placeholder="Name of the device">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  
</div>
