.spacer {
    flex: 1 1 auto;
}

.main-container {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.status {
    font-size:0.6em;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    line-height: 36px;
    padding: 0 16px;
}
.status > * {
    vertical-align: middle;
}

.settings-form {
    display: block;
    margin-top: 20px !important;
}
.settings-form > * {
    width: 70%;
}